html {
    scroll-behavior: smooth;
  }

.course-page {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .course-page .div {
    background-color: #ffffff;
    height: auto;
    overflow: visible;
    position: relative;
    width: 100%;
  }

  .course-page .nav-bar {
    display: flex;
    height: 99px;
    left: 0;
    /* position: fixed; */
    /* position: -webkit-sticky; */
    position: relative;
    z-index: 1;
    top: 0px;
    width: 100%;
    background-color: #fff;
    padding: 0 1rem;
    box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
  }
  
  .course-page .overlap-group {
    height: 99px;
    top: 0px;
    z-index: 1;
    position: sticky;
    /* position: -webkit-sticky; */
  }
  
  .course-page .header {
    align-items: flex-end;
    background-color: transparent;
    display: flex;
    height: 99px;
    justify-content: space-between;
    left: 0;
    padding: 0px 32px;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .course-page .frame {
    align-items: flex-start;
    display: flex;
    margin-top: -18.6px;
    padding: 32px 0px 16px;
    position: relative;
    width: 237px;
  }
  
  .course-page .department-of-web {
    color: var(--baseink);
    flex: 1;
    font-family: "Public Sans-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
  }
  
  .course-page .frame-2 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 16px;
    justify-content: flex-end;
    position: relative;
  }

  .course-page .tabs{
    position: relative;
    right: 0%;
    left: 300%;
    /* float: right; */
  }
  
  .course-page .home-tab {
    color: black;
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
    height: 56px;
    /* left: 641px; */
    /* left: 1050px; */
    float: left;
    padding: 16px 16px 20px;
    position: relative;
    top: 34px;
  }
  
  .course-page .home-wrapper {
    align-items: flex-end;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 4px;
    position: relative;
  }

  .course-page .section {
    color: black;
    font-family: "Public Sans-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
    cursor: pointer;
    text-decoration: none;
  }
  
  .course-page .courses-tab {
    color: #ffffff;
    align-items: flex-start;
    background-color: #154488;
    border: 4px solid;
    border-color: #2491ff;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0px 5px;
    height: 56px;
    /* left: 556px; */
    float: left;
    /* left: 950px; */
    padding: 16px 16px 20px;
    position: relative;
    top: 29px;
    width: 100px;
  }

  .course-page .coursepage-new-course{
    text-decoration: none;
    color: black;
  }

  .course-page .coursepage-course{
    text-decoration: none;
    color: white;
  }

  /* .course-page .courses-tab:hover {
    background-color: #154488;
    border: 4px solid;
    border-color: #2491ff;
    color: #ffffff;
  } */

  /* .course-page .link-wrapper:hover{
    background-color: #154488;
    border: 4px solid;
    border-color: #2491ff;
    color: #ffffff;
  } */
  
  .course-page .course-wrapper {
    align-items: flex-end;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 4px;
    margin-bottom: -7.04px;
    position: relative;
  }

  .course-page .newcourse-wrapper {
    align-items: flex-end;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 4px;
    margin-bottom: -7.04px;
    position: relative;
  }
  
  .course-page .link {
    color: var(--basebase-dark);
    font-family: "Public Sans-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
    /* text-decoration: underline; */
    cursor: pointer;
  }

  /* .course-page .log-out-tab {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 48px;
    left: 894px;
    left: 1200px;
    padding: 16px 16px 20px;
    position: absolute;
    top: 34px;
    width: 86px;
  } */
  
  .course-page .div-wrapper {
    align-items: flex-end;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 4px;
    margin-bottom: -7.04px;
    margin-right: -6px;
    position: relative;
  }
  
  .course-page .new_course-tab {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 48px;
    /* left: 744px; */
    /* left: 1150px; */
    float: left;
    padding: 16px 16px 20px;
    position: relative;
    top: 35px;
    width: 142px;
  }
  
  .course-page .frame-4 {
    align-items: flex-end;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 4px;
    margin-bottom: -7.04px;
    margin-right: -14px;
    position: relative;
  }

  .course-page .course-stats {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-color: #0000001f;
    border-radius: 16px;
    margin: 20px 25px;
    height: fit-content;
    top: auto;
    position: relative;
    width: auto;
  }

  .course-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .student-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
  }
  
  .student-selector label {
    margin-bottom: 8px;
    font-weight: 600;
    color: #333;
    font-size: 16px;
  }
  
  .student-dropdown {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 15px;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .student-dropdown:hover {
    border-color: #aaa;
  }
  
  .student-dropdown:focus {
    outline: none;
    border-color: #4a90e2;
    box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
  }
  
  /* Optional: Style for the dropdown options */
  .student-dropdown option {
    padding: 10px;
  }
  
  .course-page .course-stats .frame {
    background-color: #2491ff80;
    border-radius: 8px;
    height: 69px;
    margin: 10px 10px;
    position: relative;
    width: auto;
  }
  
  .course-page .course-stats .overlap-group {
    height: 29px;
    left: 12px;
    position: absolute;
    top: 11px;
    width: 298px;
  }
  
  .course-page .course-stats .text-wrapper {
    color: #000000e6;
    font-family: "Public Sans-Regular", Helvetica;
    font-size: 28px;
    font-weight: 400;
    left: 0;
    letter-spacing: -0.56px;
    line-height: 29.4px;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .course-page .course-stats .div {
    color: #000000b2;
    background-color: transparent;
    font-family: "Public Sans-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 22px;
    left: 95px;
    letter-spacing: 0;
    line-height: 21.6px;
    position: absolute;
    top: 7px;
    white-space: nowrap;
  }
  
  .course-page .course-stats .text-wrapper-2 {
    color: #000000b2;
    font-family: "Public Sans-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 16px;
    left: 12px;
    letter-spacing: 0;
    line-height: 16.2px;
    position: absolute;
    top: 40px;
    white-space: nowrap;
  }
  
  .course-page .course-stats .button {
    all: unset;
    align-items: center;
    background-color: #005ea2;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    left: 85%;
    overflow: hidden;
    padding: 12px 20px;
    position: absolute;
    top: 10px;
  }
  
  .course-page .course-stats .button-2 {
    all: unset;
    box-sizing: border-box;
    color: #ffffff;
    font-family: "Public Sans-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
    cursor: pointer;
  }

  .course-page .course-stats .calendar {
    background-color: #2491ff80;
    border-radius: 8px;
    height: auto;
    margin: 5px 10px;
    position: relative;
    top: auto;
    width: auto;
  }

  .course-page .course-stats .calendar-box{
    margin: 10px;
    background-color: white;
  }
  
  .course-page .course-stats .image {
    height: 175px;
    left: 25px;
    object-fit: cover;
    position: absolute;
    top: 21px;
    width: 859px;
  }

  .course-page .course-stats .stats{
    top: auto;
    margin: auto;
    position: relative;
    width: 100%;
  }
  
  .course-page .course-stats .overlap-wrapper {
    background-color: #fb02e214;
    border-radius: 8px;
    height: 189px;
    left: 650px;
    position: relative;
    top: auto;
    width: 280px;
  }

  .course-page .course-stats .frame-2 {
    align-content: center;
    background-color: #2491ff80;
    border-radius: 8px;
    height: 189px;
    margin: 10px 10px;
    float: left;
    position: relative;
    top: auto;
    width: 302.5px;
  }
  
  .course-page .course-stats .overlap {
    height: 172px;
    margin: auto;
    top: 5px;
    position: relative;
    width: 266px;
  }
  
  .course-page .course-stats .text-wrapper-3 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: #000000b2;
    display: -webkit-box;
    font-family: "Public Sans-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 37px;
    left: 0;
    letter-spacing: 0;
    line-height: 27px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-overflow: ellipsis;
    top: 135px;
    width: 266px;
  }
  
  .course-page .course-stats .pie-chart {
    height: 136px;
    left: 67px;
    position: absolute;
    top: 0;
    width: 137px;
  }
  
  .course-page .course-stats .overlap-group-2 {
    background-color: #00000036;
    border-radius: 67.58px/67.75px;
    height: 136px;
    align-items: center;
    position: relative;
    width: 135px;
    top: auto;
  }
  
  .course-page .course-stats .ellipse {
    background-color: #ffffff;
    border-radius: 45.18px/45.3px;
    height: 91px;
    left: 22px;
    position: absolute;
    top: 23px;
    width: 90px;
  }
  
  .course-page .course-stats .text-wrapper-4 {
    color: #000000;
    font-family: "Quando-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 41px;
    left: 39px;
    letter-spacing: 0;
    line-height: 27px;
    position: absolute;
    text-align: center;
    top: 55px;
    width: 53px;
  }

  .course-page .course-stats .text-wrapper-4-attendance {
    color: #000000;
    font-family: "Quando-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    height: fit-content;
    /* left: 39px; */
    /* margin-left: -10px; */
    letter-spacing: 0;
    line-height: 27px;
    position: relative;
    text-align: center;
    top: 55px;
    margin: auto;
    width: fit-content;
  }
  
  .course-page .course-stats .overlap-group-wrapper {
    background-color: #fb02e214;
    border-radius: 8px;
    height: 189px;
    left: 18px;
    position: relative;
    top: auto;
    width: 280px;
  }
  
  .course-page .course-stats .overlap-2 {
    height: 172px;
    left: 7px;
    position: relative;
    top: 7px;
    width: 266px;
  }
  
  .course-page .course-stats .div-wrapper {
    height: 136px;
    left: 65px;
    position: absolute;
    top: 0;
    width: 137px;
  }

  .course-page .course-stats .student-stats .add-or-update {
    float: left;
    width: 100%;
  }

  .course-page .AddAttendance{
    top: auto;
    position: relative;
    align-items: center;
    height: auto;
    width: 100%;
  }

  .course-page .add-attendance{
    align-items: center;
    position: relative;
    margin: auto;
    width: fit-content;
  }

  .course-page .date-option{
    float: left;
    margin: 0px 60px;
  }

  .course-page .attendance-option{
    float: left;
    margin: 0px 60px;
  }

  .course-page .attendance{
    width: 220px;
    height: 38px;
  }

  .course-page .AddButton{
    margin: 20px 25vw;
    align-items: center;
    width: fit-content;
    background-color: #164488;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    color: #ffffff;
  }

  .course-page .UpdateButton{
    margin: 20px 25vw;
    align-items: center;
    width: fit-content;
    background-color: #164488;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    color: #ffffff;
  }

  .course-page .AddOrUpdate{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-color: #0000001f;
    border-radius: 16px;
    margin: 20px 25px;
    height: fit-content;
    top: auto;
    position: relative;
    width: auto;
  }

  .course-page .btn-group{
    align-items: center;
    width: auto;
    margin: 10px;
  }

  .course-page .addupdateform{
    margin: 50px 0px;
    align-items: center;
  }

  /* FOOTER */
  .course-page .footer {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    height: 203px;
    left: 0;
    position: relative;
    margin-top: 10px;
    top: auto;
    width: 100%;
  }
  
  .course-page .return-to-top {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    padding: 20px 32px;
    position: relative;
    width: 100%;
  }
  
  .course-page .text-wrapper-17 {
    color: #005ea2;
    font-family: "Public Sans-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    text-decoration: underline;
    white-space: nowrap;
    width: fit-content;
  }
  
  .course-page .primary-links {
    align-items: flex-start;
    align-self: stretch;
    background-color: #dbdbdb;
    display: flex;
    flex: 0 0 auto;
    padding: 0px 32px;
    position: relative;
    width: 100%;
  }
  
  .course-page .footer-primary-link {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 16px;
    position: relative;
  }
  
  .course-page .text-wrapper-18 {
    color: var(--baseink);
    font-family: var(--h4-font-family);
    font-size: var(--h4-font-size);
    font-style: var(--h4-font-style);
    font-weight: var(--h4-font-weight);
    letter-spacing: var(--h4-letter-spacing);
    line-height: var(--h4-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .course-page .agency-wrapper {
    align-items: center;
    align-self: stretch;
    background-color: #164488;
    display: flex;
    flex: 0 0 auto;
    gap: 414px;
    padding: 20px 32px;
    position: relative;
    width: 100%;
  }
  
  .course-page .agency {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 16px;
    position: relative;
  }
  
  .course-page .name-of-agency {
    color: #ffffff;
    font-family: var(--h3-font-family);
    font-size: var(--h3-font-size);
    font-style: var(--h3-font-style);
    font-weight: var(--h3-font-weight);
    letter-spacing: var(--h3-letter-spacing);
    line-height: var(--h3-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
